@import "tailwindcss";

@theme {
  --font-sans: "Inter", system-ui, sans-serif;
  --color-primary: #3b82f6; /* Blue 500 */
  --color-primary-hover: #2563eb; /* Blue 600 */
}

body {
  @apply bg-gray-50 text-gray-800 font-sans;
}